<div class="row">
    <div class="col-sm-12 col-md-4">
        <div class="small-box bg-aqua">
            <div class="inner">
                <h4>Tanque 1</h4>
                <p><b>Normal</b></p>
            </div>
            <div class="icon">
                <i class="fa fa-cube"></i>
            </div>
            <a href="#" class="small-box-footer" ng-click="abastecimentoCtrl.alternarInformacao(0)">
                Ver mais <i class="fa fa-plus-circle"></i>
            </a>
            <abastecimento-info-component ng-if="abastecimentoCtrl.informacoes" model="abastecimentoCtrl.informacoes[0]"></abastecimento-info-component>
        </div>
    </div>
</div>